*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    overflow-x:hidden;
}

.hero{
    width:100%;
    height:100vh;
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
}
.content-section{
    width:100%;
    height:100vh;
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
}
.line{
    word-spacing:15px;
}

.content{
    text-align:center;
}

.line{
    font-size:6vw;
    font-weight:bold;
    color:white;
    margin:10px 0;
    
}

.line span{
    display:inline-block;

    opacity:0;
    transform:translateY(100px);

    transition:
        opacity .5s ease,
        transform .5s ease;
}

.line span.show{
    opacity:1;
    transform:translateY(0);
}


/* ---------------- Cursor ---------------- */

body{
    cursor:none;
}

.cursor{
    width:22px;
    height:22px;

    border:2px solid #00bfff;
    border-radius:50%;

    position:fixed;

    left:0;
    top:0;

    pointer-events:none;

    transform:translate(-50%,-50%);

    transition:
    width .2s,
    height .2s,
    background .2s;

    z-index:9999;
}
.cursor-image {
    width: 40px;
    height: 40px;
    border-radius: 20%;
    object-fit: cover;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    transition: width .2s, height .2s, background .2s;
    z-index: 9999;
}

/* ---------------- Video Section ---------------- */

.video-section{

    position:relative;

    width:100%;
    height:100vh;

    overflow:hidden;

}

.video-section iframe{

    position:absolute;

    top:50%;
    left:50%;

    width:100vw;
    height:56.25vw;

    min-height:100vh;
    min-width:177.77vh;

    transform:translate(-50%,-50%);

    border:none;

    pointer-events:none;

}

.overlay{

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.35);

    z-index:1;

}